<?xml version="1.0" ?>
<launch>
  <arg name="world_file" default="$(find differential_car)/worlds/differential_car.world"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_file)"/>

    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>

    <arg name="debug" value="false"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro $(find differential_car)/urdf/differential_car.urdf"/>

  <node name="differential_drive_controller" pkg="differential_drive_controller" type="differential_drive_controller_node" output="screen">
    <rosparam command="load" file="$(find differential_car)/config/differential_drive_controller.yaml" />
  </node>
</launch>
